<!-- <div [align]="['center']">
    <button mat-raised-button color="primary" [disabled]="" (click)="submit()">Créer</button>
</div>
<mat-divider></mat-divider> -->
<app-create-article-expansion (refresh)="refresh()"></app-create-article-expansion>
<mat-divider></mat-divider>


<div>
    <mat-card>
        <mat-card-content>
            <h2>Articles</h2>

            <table mat-table [dataSource]="existingArticles">

                <!-- libelle column -->
                <ng-container matColumnDef="libelle">
                    <th mat-header-cell *matHeaderCellDef> Libelle </th>
                    <td mat-cell *matCellDef="let article"> {{article.libelle}} </td>
                </ng-container>

                <!-- description column -->
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let article"> {{article.description}} </td>
                </ng-container>

                <!-- prix column -->
                <ng-container matColumnDef="prix">
                    <th mat-header-cell *matHeaderCellDef> Prix </th>
                    <td mat-cell *matCellDef="let article"> {{article.prix}}
                    </td>
                </ng-container>

                <!-- reference column -->
                <ng-container matColumnDef="reference">
                    <th mat-header-cell *matHeaderCellDef> Reference </th>
                    <td mat-cell *matCellDef="let article"> {{article.reference}}
                    </td>
                </ng-container>

                <!-- duree column -->
                <ng-container matColumnDef="duree">
                    <th mat-header-cell *matHeaderCellDef> Duree </th>
                    <td mat-cell *matCellDef="let article"> {{article.duree}}
                    </td>
                </ng-container>

                <!-- image column -->
                <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef> Image </th>
                    <td mat-cell *matCellDef="let article"> <img [src]="article.image" *ngIf="article.image">
                    </td>
                </ng-container>

                <!-- action column -->
                <ng-container matColumnDef="action" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let article">
                        <button mat-icon-button (click)="update(article)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="delete(article.idArticle)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>