<h1 mat-dialog-title>Changer le mot de passe de {{data.email}}</h1>
<div mat-dialog-content>
    <form [formGroup]="passwordForm">
        <p>Le mot de passe doit avoir au moins 6 caractères</p>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Mot de passe</mat-label>
            <input matInput formControlName="password">
            <mat-error>Au moins 6 caractères</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Confirmez</mat-label>
            <input matInput formControlName="confirmPassword">
            <mat-error>Mot de passes ne sont pas identiques</mat-error>
        </mat-form-field>


    </form>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">Annuler</button>
    <button mat-button (click)="close()" [disabled]="passwordForm.invalid" color="primary">Confirmer</button>
</div>