<h1 mat-dialog-title>Changer le mot de passe de {{data.email}}</h1>
<div mat-dialog-content>
    <form [formGroup]="passwordForm">
        <p>Le mot de passe doit avoir au moins {{passwordMinLength}} caractères</p>
        <div class="form-fields">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Mot de passe</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off'
                    :'visibility'}}</mat-icon>
                <mat-error>Au moins {{passwordMinLength}} caractères</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Confirmez</mat-label>
                <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="confirmPassword">
                <mat-icon matSuffix (click)="hide1 = !hide1">{{!hide1 ? 'visibility_off'
                    :'visibility'}}</mat-icon>
                <mat-error>Mot de passes ne sont pas identiques</mat-error>
            </mat-form-field>
        </div>


    </form>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">Annuler</button>
    <button mat-button (click)="close()" [disabled]="passwordForm.invalid" color="primary">Confirmer</button>
</div>