<h1 mat-dialog-title>Confirmation commande</h1>
<div mat-dialog-content>
    <div *ngIf="!table">
        <p>Veuillez indiquer votre numero de table</p>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Numero table</mat-label>
            <input matInput [formControl]="numTable" type="number">
            <mat-error>Numero table inexistant</mat-error>
        </mat-form-field>
    </div>
    <p>Veuillez precisez vos instructions speciales</p>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Instructions speciales</mat-label>
        <textarea matInput [formControl]="instructions"></textarea>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">Annuler</button>
    <button mat-button [mat-dialog-close]="[numTable.value,instructions.value]"
        [disabled]="numTable.invalid&&instructions.invalid" color="primary">Confirmer</button>
</div>