<mat-expansion-panel hideToggle #expansion>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Nouveau article
        </mat-panel-title>
        <mat-panel-description>
            <mat-icon>add</mat-icon>
        </mat-panel-description>
    </mat-expansion-panel-header>

    <form>
        <div class="form-fields">
            <mat-form-field appearance="fill">
                <mat-label>Reference</mat-label>
                <input matInput [(ngModel)]="article.reference" #ref="ngModel" name="reference" minlength="1"
                    maxlength="6" required>
                <mat-error>La reference est obligatoire</mat-error>
                <mat-hint>6 caractères max</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Libelle</mat-label>
                <input matInput [(ngModel)]="article.libelle" #libelle="ngModel" name="libelle" minlength="1"
                    maxlength="30" required placeholder="Spaghetti, soupe, etc.">
                <mat-error>Le libelle est obligatoire</mat-error>
                <mat-hint>30 caractères max</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill" floatLabel="always">
                <mat-label>Prix</mat-label>
                <input type="number" matInput [(ngModel)]="article.prix" min="0" #prix="ngModel" placeholder="0.00"
                    name="prix" required>
                <span matTextSuffix>TND</span>
                <mat-error>Le prix est obligatoire</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Categorie</mat-label>
                <mat-select [(ngModel)]="article.categorie" name="categorie">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let categorie of categories" [value]="categorie">
                        {{categorie.nom}}
                    </mat-option>
                </mat-select>
                <mat-hint>Vous pouvez l'affecter plus tard</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Duree</mat-label>
                <input matInput [(ngModel)]="article.duree" name="duree">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <input matInput [(ngModel)]="article.description" name="description" #description="ngModel"
                    maxlength="255">
                <mat-error>255 caractères max</mat-error>
            </mat-form-field>
        </div>
    </form>

    <input type="file" class="file-input" (change)="changeListener($event)" accept="image/png, image/jpeg" #fileUpload>
    <div class="file-upload">
        <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
        </button>
        {{fileName ||"Aucun fichier choisi"}}
    </div>

    <mat-action-row>
        <button mat-button color="primary" [disabled]="libelle.invalid||prix.invalid||ref.invalid||description.invalid"
            (click)="submit()">Créer</button>
    </mat-action-row>

</mat-expansion-panel>