<mat-expansion-panel hideToggle #expansion>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Nouveau article
        </mat-panel-title>
        <mat-panel-description>
            <mat-icon>add</mat-icon>
        </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field appearance="fill">
        <mat-label>Libelle</mat-label>
        <input matInput [(ngModel)]="article.libelle" placeholder="Spaghetti, soupe, etc.">
        <mat-error>
            Le libelle est obligatoire
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="article.description">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Prix</mat-label>
        <input matInput [(ngModel)]="article.prix">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Reference</mat-label>
        <input matInput [(ngModel)]="article.reference">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Duree</mat-label>
        <input matInput [(ngModel)]="article.duree">
    </mat-form-field>

    <input type="file" class="file-input" (change)="changeListener($event)" accept="image/png, image/jpeg" #fileUpload>
    <div class="file-upload">
        <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
        </button>
        {{fileName ||"Aucun fichier choisi"}}
    </div>

    <mat-action-row>
        <button mat-button color="primary" (click)="submit();expansion.close();">Créer</button>
    </mat-action-row>

</mat-expansion-panel>