<app-account-create-expansion (refresh)="refresh()"></app-account-create-expansion>

<div class="center">
    <mat-card>
        <mat-card-content>
            <h2>Comptes</h2>
            <mat-form-field class="form-field">
                <mat-icon matPrefix>search</mat-icon>
                <mat-label> Chercher</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. User" #input>
                <button mat-icon-button *ngIf="input.value" matSuffix (click)="input.value='';dataSource.filter =''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

            <table mat-table [dataSource]="dataSource" matSort>

                <!-- nom column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                    <td mat-cell *matCellDef="let user"> {{user.email}} </td>
                </ng-container>

                <!-- id column -->
                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
                    <td mat-cell *matCellDef="let user"> {{RoleLabels[user.role]}} </td>
                </ng-container>

                <!-- action column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let user">
                        <button mat-icon-button color="primary" (click)="updatePassword(user)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="delete(user.idUser)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
                <tr *matNoDataRow>
                    <td><b>Aucun compte existant</b></td>
                </tr>

            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
        </mat-card-content>
    </mat-card>
</div>