.form-fields {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.mat-mdc-form-field {
    flex: 1 1 auto;
}

.file-input {
    display: none;
}

img {
    max-width: 128px;
    height: auto;
}