img {
    width: 800px;
    height: 800px;
}

/* The div container */
.qrcodeImage {
    display: flex;
    flex: 1;
}

/* Add custom styles here */
.center {
    display: flex;
    flex: 1;
    justify-content: baseline;
}

.qr-code {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}