<h1 mat-dialog-title>Mise a jour article</h1>
<div mat-dialog-content>
    <p>Informations articles</p>
    <mat-form-field appearance="fill">
        <mat-label>Libelle</mat-label>
        <input matInput [(ngModel)]="data.libelle">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="data.description">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Prix</mat-label>
        <input matInput [(ngModel)]="data.prix">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Reference</mat-label>
        <input matInput [(ngModel)]="data.reference">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Duree</mat-label>
        <input matInput [(ngModel)]="data.duree">
    </mat-form-field>

    <input type="file" class="file-input" #fileUpload>
    <div class="file-upload">
        {{"No file uploaded yet."}}
        <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
        </button>
    </div>

</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Annuler</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Créer</button>
</div>